

<div>
  <canvas id="canvas" width="20px" height="10px" ></canvas> 
</div>


<hr>

<script>

var jsonfile = {
   "jsonarray": [ <%= @pilotesActifDiv.to_json %> ]
};

var labels = jsonfile.jsonarray.map(function(e) {
   return e.id;
});
var data = jsonfile.jsonarray.map(function(e) {
   return e.nom;
});;

var ctx = canvas.getContext('2d');
var config = {
   type: 'line',
   data: {
      labels: labels,
      datasets: [{
         label: 'Analog Mérés',
         data: data,
         backgroundColor: 'rgba(0, 119, 204, 0.3)'
      }]
   }
};

var chart = new Chart(ctx, config);

</script>


<%#= @pilotesActifDiv.to_json %>
