
<div>
  <canvas id="myChart" width="20px" height="10px" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" ></canvas> 
</div>


<% @keys = ['gp1', 'gp2', 'gp3', 'gp4'] %>
<% @data = [25, 30, 32, 45] %>


<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
 type: 'line',
 data: {
  labels: <%= @keys.to_json.html_safe %>,
  datasets: [{
   label: '#',
   data: <%= @data.to_json.html_safe %>,
   fill:true,
   borderColor:"#308af3",
   pointBackgroundColor: "#308af3",
   pointBorderWidth: 2,
   pointHoverBackgroundColor: "#fff",
   pointHoverBorderWidth: 2,
   lineTension: 0.4,
  },]
 },
 options: {
  responsive: true,
    animations: {
            onComplete: () => {
              delayed = true;
            },
            delay: (contect) => {
              let delay = 0;
              if (context.type === "data" && context.mode === "default" && !delayed) {
                delay = context.dataIndex * 300 + context.datasetIndex * 100;
              }
              return delay;
            },
        },
        
  legend: { display: false },
  scales: {
   xAxes: [{
    gridLines: { display:false },
   }],
   yAxes: [{
    gridLines: {
     color: "rgba(0, 0, 0, .05)",
    }
  
   }]
  
  },
 }
});
</script>

<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>