<%#= line_chart Classement.group(:score).count %>
<%#= line_chart Classement.group(:score).count , {
  width: '250px',
  height: '250px',
  theme: 'dark',
  class: 'chart-container-class',
  style: 'padding: 10px'
} %>


<%#= line_chart Classement.division_courant(1).saison_courant(1).
        numero_until_courant(3).where('pilote_id = 3').group(:score).count , {
  width: '250px',
  height: '250px',
  theme: 'light',
  class: 'chart-container-class',
  style: 'padding: 10px'
} %>



<%#= line_chart Classement.group(:event_id).count, class: 'box', 
  options: {
    title: {
      text: "People count by age",
      left: 'center'
    },
  }
%>

 <% @saisonId = params[:saisonId] %>
 <% @divisionId = Event.find(@eventId).division_id %> 
 <% @eventNum = Event.find(@eventId).numero %>
   


<%#= line_chart Classement.division_courant(@divisionId).saison_courant(@saisonId).
        numero_until_courant(@eventNum).where('pilote_id = 3').group(:event_id).sum(:score),
  class: 'box',
  theme: 'sakura',
  options: {
    series: { 
      barWidth: '50%'
    },
    tooltip: {
      valueFormatter: RailsCharts.js("(value) => Math.round(value) +  ' points' ")
    },

    
   
  }
%>

<h2 class="subtitle">line_chart #2</h2>
<%#= line_chart Classement.distinct.pluck(:pilote_id).map{|e| {name: e, data: Classement.where(event_id: e).group(:pilote_id).sum(:score)} },
  class: 'box',
  debug: false,
  code: false,
  theme: 'macarons',
  options: {
    title: {
      text: "Signups by role"
    },
    toolbox: {
      show: true,
      feature: {
        saveAsImage: {}
      }
    },
    label: {
      show: false,
      position: 'top'
    },
  }
%>



<hr>
test array ter : <br>

<% x = 6 %>
<% while x >= 1 %>
 <% Classement.where(event_id: x).group(:pilote_id).select(:pilote_id, :event_id, :score).sum(:score) %> <br>
 <% x = x - 1 %>
<% end %>


<%= @resultGp1 =  Classement.where(event_id: 1).group(:pilote_id).select(:pilote_id, :event_id, :score).sum(:score)  %>
<br>
<%= @resultGp2 =  Classement.where(event_id: 2).group(:pilote_id).select(:pilote_id, :event_id, :score).sum(:score)  %>

<% @data = [@resultGp1, @resultGp2,@resultGp1, @resultGp2,@resultGp1, @resultGp2] %>

<hr>


<h2 class="subtitle">line_chart #3</h2>
<%= line_chart Classement.group(:event_id, :pilote_id).pluck(:event_id, :pilote_id, :score),
  class: 'box',
  debug: false,
  code: false,
  theme: 'macarons',
  options: {
    title: {
      text: "Signups by role"
    },
    toolbox: {
      show: false,
      feature: {
        saveAsImage: {}
      }
    },
    label: {
      show: false,
      position: 'top'
    },
  }
%>

<br> <br>
test tableau <br>
<% #Classement.division_courant(@divisionId).saison_courant(@saisonId). numero_until_courant(@eventNum).group(:event_id).sum(:score) %>

<br><br>
test tableau 2 : <br>

<% @classementsEvent = Classement.all %>

<%# @classementsEvent.each do |classement| %>
    <%# @piloteId = classement.pilote_id %>
    <%# classement.id %> 
    <%# classement.id %> <br>
<%# end %>

