 <% if user_signed_in? %>
  <% if current_user.admin? %>  
    <h1>Editer equipe</h1>

      <%= render "form", equipe: @equipe %>
      <br>

      <div>
        <%= link_to "", @equipe, class:"fa-solid fa-eye btn btn-primary" %> |
        <%= link_to "", equipes_path, class:"fa-solid fa-arrow-rotate-left btn btn-secondary"  %>
      </div>
    <% else %>
    <br/>   <strong>Vous n'avez pas les droits...</strong>
  <% end %>
<% end %>