<% if user_signed_in? %>
  <% if current_user.admin? %>

    <h1>Nouvelle equipe</h1>

    <%= render "form", equipe: @equipe %>
    <br>
    <div>
      <%= link_to "Retour equipes", equipes_path, class:"btn btn-secondary" %>
    </div>

  <% else %>
    <br/> <strong>Vous n'avez pas les droits...</strong>
  <% end %>
<% end %>