<% if user_signed_in? %>
  <% if current_user.admin? %>

    <h1>Nouveau resultat</h1>
    <%= render "form", resultat: @resultat %>
    

    <div>
      <%= link_to "Retour resultats", resultats_path, class:"btn btn-secondary" %>
    </div>

  <% else %>
    <%= render "shared/demandeconnexion" %>
  <% end %>
<% end %>