<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>
  <p>
    <strong>Role:</strong>
    <%= user.role %>
  </p>

  <p>
   <% if Pilote.where(user_id: user.id).first.present? %>
       <strong>Pilote associé :</strong>    
      <%= Pilote.where(user_id: user.id).first.nom %> 
   <% end %>
  </p>

  

</div>

