<h1>Editer article</h1>

<%= render "form", reglement: @reglement %>

<br>

<div>
  <%= link_to "", @reglement, class:"fa-solid fa-eye btn btn-primary" %> |
  <%= link_to "", reglements_path, class:"fa-solid fa-arrow-rotate-left btn btn-secondary"  %>
</div>
