<div id="<%= dom_id division %>">
  <p>
  <br>  
    <strong>Nom:</strong>
    <%= division.nom %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= division.numero %>
  </p>

    <% if current_user.admin? %>

      <%# Doc grille div %>
 
      <%= link_to "Grille",   documentedition_divisions_path(saisonId: @saisonId, divisionId: @divisionId, eventId: @eventId, format: :png), class:"btn btn-sm btn-success" %>
      <br><br>
    <% end %>

</div>
