
<hr class="hr_doc"> 

 <table style="width:100%;margin-left:60px;margin-right:auto;">
  <tr>
    <th>
      <%= image_tag asset_url('/images/Discord.png'), style: "width: 50px; display: block", class: "img-fluid rounded" %> 
    </th>
    <th>
      <%= image_tag asset_url('/images/logo_f1.png'), style: "width: 50px; display: block", class: "img-fluid rounded" %> 
    </th>
    <th>
      <%= image_tag asset_url('/images/twitch.png'), style: "width: 50px; display: block", class: "img-fluid rounded" %> 
    </th>
    <th>
      <%= image_tag asset_url('/images/xbox.png'), style: "width: 50px; display: block", class: "img-fluid rounded" %> 
    </th>
  </tr>
</table>

<br>  

