
 <hr/> 

 <table width="800" style="margin-left:auto;margin-right:auto">
  <tr>
    <td>
      <%= wicked_pdf_image_tag asset_url('/images/Discord.png'), style: "width: 75px; margin-left:60px; display: block", class: "img-fluid rounded" %> 
    </td>
    <td>
      <%= wicked_pdf_image_tag asset_url('/images/logoF12021.png'), style: "width: 125px; margin-left:60px; display: block", class: "img-fluid rounded" %> 
    </td>
    <td>
      <%= wicked_pdf_image_tag asset_url('/images/twitch.png'), style: "width: 75px; margin-left:60px; display: block", class: "img-fluid rounded" %> 
    </td>
    <td>
      <%= wicked_pdf_image_tag asset_url('/images/xbox.png'), style: "width: 75px; margin-left:60px; display: block", class: "img-fluid rounded" %> 
    </td>
  </tr>
</table>

 <br/> 