<% if user_signed_in? %>
  <% if current_user.admin? %>

    <h1>Nouvel event</h1>
    <%= render "form", event: @event %>

    <br>
    <div>
      <%= link_to "Retour events", events_path, class:"btn btn-secondary" %>
    </div>

  <% else %>
     <%= render "shared/demandeconnexion" %>
  <% end %>
<% end %>