
<div class="chart-container" style="position: relative; height:100%; width:50%">
    <canvas id="myChartPie"></canvas>
</div>

<% @piloteId = params[:id] %>

<% @nbVictoire = Resultat.pilote_courant(@piloteId).compte_p1 %>
<% @nbPodium = Resultat.pilote_courant(@piloteId).compte_podium %>
<% @nbTop5 = Resultat.pilote_courant(@piloteId).compte_top5 %>
<% @nbTop10 = Resultat.pilote_courant(@piloteId).compte_top10 %>

<% @data = [@nbVictoire, @nbPodium, @nbTop5, @nbTop10] %>

<script>

var couleurVictoire =  'rgb(233, 222, 61)';
var couleurPodium = 'rgb(205, 127, 50)';
var couleurTop5 =  'rgb(54, 162, 235)';
var couleurTop10 =  'rgb(82, 189, 93)';

  const ctx = document.getElementById('myChartPie').getContext('2d');
  const myChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
          labels: ['Victoire', 'Podium', 'Top5', 'Top10'],
          datasets: [{
            /* label: '# of Votes', */
              data: <%= @data.to_json.html_safe %>,
          
              backgroundColor: [                  
                couleurVictoire, couleurPodium, couleurTop5, couleurTop10
             ],
      hoverOffset: 40
    }]

      },
      options: {
          animation:{
            animateRotate: true,
            duration: 5000
         },

          plugins: {
            legend: {
                display: true,
                position: 'right',
 
            },
        },
          scales: {

          }
      }
  });
  

</script>

<script>


  const myChart = new Chart(
    document.getElementById('myChartPie'),
    config
  );



</script>

