
<div class="chart-container" style="position: relative; height:40%; width:40%">
    <canvas id="myChartPie"></canvas>
</div>

<% @piloteId = params[:id] %>

<% @nbVictoire = Resultat.pilote_courant(@piloteId).compte_p1 %>
<% @nbPodium = Resultat.pilote_courant(@piloteId).compte_podium %>
<% @nbTop5 = Resultat.pilote_courant(@piloteId).compte_top5 %>
<% @nbTop10 = Resultat.pilote_courant(@piloteId).compte_top10 %>

<% @data = [@nbVictoire, @nbPodium, @nbTop5, @nbTop10] %>

<script>

const ctx = document.getElementById('myChartPie').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['Victoire', 'Podium', 'Top5', 'Top10'],
        datasets: [{
          /* label: '# of Votes', */
            data: <%= @data.to_json.html_safe %>,
        
            backgroundColor: [
                
            'rgb(0, 153, 76)',
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)'
    ],
    hoverOffset: 40
  }]


    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

<script>
  const myChart = new Chart(
    document.getElementById('myChartPie'),
    config
  );
</script>