


<div class="chart-container" style="position: relative; height:40%; width:40%">
    <canvas id="myChartPie"></canvas>
</div>

<script>


  const ctx = document.getElementById('myChartPie').getContext('2d');
  const myChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
          labels: ['Victoire', 'Podium', 'Top5', 'Top10'],
          datasets: [{
            /* label: '# of Votes', */
              data:  [1, 2, 3, 4],
          
              backgroundColor: [
                  
              'rgb(0, 153, 76)',
              'rgb(255, 99, 132)',
              'rgb(54, 162, 235)',
              'rgb(255, 205, 86)'
      ],
      hoverOffset: 40
    }]


      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  



</script>

<script>

$(document).on('ready page:load', function () {



  const myChart = new Chart(
    document.getElementById('myChartPie'),
    config
  );

    // your google chart js
});


</script>

