<% if user_signed_in? %>
  <% if current_user.admin? %>
    <h1>Nouvelle saison</h1>

    <%= render "form", saison: @saison %>
    <br>

    <div>
      <%= link_to "Retour saisons", saisons_path, class:"btn btn-secondary" %>
    </div>
  <% else %>
     <%= render "shared/demandeconnexion" %>
  <% end %>
<% end %>
