/*

 *= require_self
 */


 /* format des champs : */

.table_icon_titre {
 vertical-align: middle;
 font-size: x-large;
}

 .navbar-nav
 {
   font-size: x-small;

 }

 .green {
    color: green;
    font-weight: bold;
}

.red {
    color: red;
    font-weight: bold;
}

.darkred {
    color: rgb(107, 9, 9);
    font-weight: bold;
}

.blue {
    color: rgb(12, 12, 155);
    font-weight: bold;
}

@font-face {
  font-family: 'F1regular';
  src: url('Formula1-Regular_web_0.ttf');
}

body {
  font-family: "F1regular";
  font-size: small;
}

textarea {
  width: 100%;
  min-height: 70px;
  min-width: 80%;
  display: block;
  border: 0px solid #BBB;
  color: #444;
  font-size: medium;
}

th, td {
   text-align: left;
   font-weight: bold;
   
 /*  max-width: 50px; */
}

.th_doc {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: large;
  text-align: center;
  
}

.th_doc_delta {
  background-color: rgb(37, 36, 36);
  color: white;
  font-size: large;
  text-align: center;
}

.bouton {
  font-size: xx-small;
}

 /*
.col_actions {
 max-width: 60px;
} */

.col_centree{
  text-align: center;
}

.col_rank_gain{
  color: rgb(12, 150, 12);
}

.col_rank_perte{
  color: rgb(180, 15, 15);
}

.col_green{
  text-decoration: underline;
  text-align: center;
  color: rgb(17, 231, 17);
  font: rgb(128, 26, 0);
}
.col_centree_red{
  text-align: center;
  font: rgb(150, 7, 7);
}

.enteteGp{
  text-decoration: underline;
  font-size: small;
  font-weight: normal;
}

.footer {
  position: absolute;
  bottom: 0px;
 /* width: 100%; */
  font-size: xx-small;
  color: grey;
}

/* utilisés pour docs edités */

.val_entete {
  background-color: rgb(125, 125, 125);
  color: rgb(255, 255, 255);
  font-size: large;
  height: 40px;
  text-align: center;
 }

 .eventactif {
  font-size: small;
  font-weight: bold;
 }

 .cols_pos_score {
    background-color: rgb(255, 255, 255);
    width: 80px;
    height: 20px;
    font-weight: bold;
    font-size: x-large;
    color: rgb(0, 0, 0);
    text-align: center;
    box-shadow:inset 0px 0px 0px 4px #313130;
 }

 .cols_pos_score_wide {
  background-color: rgb(255, 255, 255);
  width: 200px;
  height: 20px;
  font-weight: bold;
  font-size: x-large;
  color: rgb(0, 0, 0);
  text-align: center;
  box-shadow:inset 0px 0px 0px 4px #313130;
}


 .cols_solde {
  background-color: rgb(148, 147, 147);
  width: 80px;
  font-weight: bold;
  font-size: x-large;
  color: rgb(0, 0, 0);
  
}

 .cols_hide {
  width: 50px;
  background-color: #4a4a48;
  box-shadow:inset 0px 0px 0px 4px #313130;
  text-align: center;
 }


 .cols_hidden {
  width: 50px;
 }
 /* format des image ecurie avec nom pilote au dessus : */

 .contenant {
    position: relative;
    text-align: left;
    color: white;
   
  }
  
  .texte_centrer {
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(0%, -50%);
    font-weight: bold;
    font-size: large;
   
  }

  .titre_doc {
    text-align: center;
    color: white;
    font-family: "F1regular";
  }

  .sous_titre_doc {
    text-align: center;
    color: white;
    background-color: rgb(36, 38, 38);
    font-family: "F1regular";
  }

  #imgDrapeau{
    position: absolute;
    top: 2%;
    left: 84%;
  }

  #imgLogoIf1{
    position: absolute;
    top: 3%;
    left: 1%;
  }

  .hr_doc{
    border-top: 2px solid  #ccc;
    background-color: #ccc;
  }

  .btns_edition{
    position: absolute;
    top: 2%;
    left: 100%;
  }


