<p>Hello <%= @resource.email %> !</p>

<p>Une demande de réinitialisation de mot de passe a été faite.</p>
<p>Vous pouvez le faire le changer en suivant le lien ci-dessous : </p>

<p><%= link_to 'Changer le mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, merci de ne pas tenir compte de ce mail.</p>
<p>Votre mot de passe ne changera pas tant que vous n'aurez pas cliqué sur le lien ci-dessus et changé votre mot de passe.</p>

