<p style="color: green"><%= notice %></p>

<h1>Rapports</h1>

<div id="rapports">
  <% @rapports.each do |rapport| %>
    <%= render rapport %>
    <p>
      <%= link_to "Show this rapport", rapport %>
    </p>
  <% end %>
</div>

<%= link_to "New rapport", new_rapport_path %>
